@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab&display=swap');

*{
   font-family: 'Roboto Slab', serif;

}


html,body{
   padding: 0;
   margin: 0;
   background-color: rgb(200, 225, 247);
   scroll-behavior: smooth;
}

.upld{
   background-color: rgb(200, 225, 247);
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 4rem;
}


.upld form{
   padding: 20px;
   border-radius: 7px;
   box-shadow: 0 5px 10px rgb(11, 128, 230);
   text-align: center;
   width: 30rem;
}

.upld form h3{
   font-size: 2rem;
   text-transform:capitalize;
   margin-bottom: 0px;
   margin-top: 0px;
   color: rgb(0, 2, 65);
}


.upld form input{
   width: 100%;
   padding: 1rem;
   font-size: 1.5rem;
   margin: 2px;
   border-style: none;
   border-radius: 3px;
   background-color: rgb(183, 217, 248);
}

.upld form .btn{
   background-color: rgb(22, 24, 96);
   color: white;
   width: 9rem;
   font-size: 1.5rem;
   padding: 6px;
   margin: 4px;
   cursor:pointer;

}

.upld form .btn:hover{
   opacity: 80%;
   letter-spacing: 0.5mm;
   transition: 0.1s linear;
   padding: 9px;
   cursor:pointer;

}


.upld form .error-msg{
   margin: 10px 0;
   display: block;
   background-color: rgb(246, 188, 200);
   color: rgb(105, 0, 0);
   border-radius: 3px;
   font-size: 15px;
}

.upld form .message{
    margin: 10px 0;
    display: block;
    background-color: rgb(158, 251, 194);
    color: rgb(0, 76, 29);
    border-radius: 3px;
    font-size: 18px;
 }